##############################################################################
# 
# GIT INGORE Standard project
#
# Use gitignores from https://github.com/github/gitignore/
#
##############################################################################


##############################################################################
#
# OS's
#
##############################################################################


#*****************************************************************************
# Global/Linux.gitignore

.*
!.gitignore
*~

#*****************************************************************************
# Global/OSX.gitignore

.DS_Store
.DS_Store?
.AppleDouble
.LSOverride
Icon
Icon?


# Thumbnails
._*
ehthumbs.db
Thumbs.db

# Files that might appear on external disk
.Spotlight-V100
.Trashes


#*****************************************************************************
# Globals/Windows.gitignore

Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/



##############################################################################
#
# IDE's
#
##############################################################################

#*****************************************************************************
# Global/NetBeans.gitignore

nbproject/


##############################################################################
#
# PHP project's
#
##############################################################################

composer.lock
vendor/
